<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link type="image/x-icon" href="../static/img/favicon.ico" rel="shortcut icon">
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="menu">
        <ul>
            <li><a href="/"><img src="../static/img/logo.png" width="200"></a></li>
            <li><a href="/admin/cats">Котики</a></li>
            <li><a href="/login">Авторизация</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block body %}{% endblock %}
    </div>
</body>
</html>