{% extends 'base.html' %}

{% block head %}
<script>
    $(document).ready(function(){ pres(); });
</script>
{% endblock %}

{% block title %}СберМурркет{% endblock %}

{% block body %}
    <form>
        <input id="find_in" type="text" name="find" placeholder="Найти...">
        Сортировка по:
        <select name="sort" onchange="with (this) Change(options [selectedIndex].value)">
            <option value="1">Умолчанию</option>
            <option value="2">Породе</option>
            <option value="3">Возрасту</option>
        </select>
        <input type="button" onclick="pres()" value="Применить">
    </form>
    <div id="cats"></div>
    <ul id="pagination"></ul>
{% endblock %}