{% extends 'base.html' %}

{% block title %}
    СберМурркет
{% endblock %}

{% block body %}
<div width="800">
    Задача: спроектируйте API для онлайн-магазин породистых котят.
    <br><br>
    Используемые технологии: Flask, sqlalchemy + postgres, docker
    <br><br>
    Создайте простой портал для электронной библиотеки. Админка должна содержать две страницы:
    список всех котиков с пагинацией (по 5 котов) и поиском. При нажатии на котика попадаем на вторую страницу
    страница отдельного котика (на ней должен отображаться порода, картинка, имя, краткое описание и возраст в месяцах)
    <br><br>
    Должен поддерживаться полнотекстовый поиск по всем полям информации о котиках (порода, имя, возраст, описание). Должна быть возможность выбрать сортировку отдаваемого результата: по порода, по возрасту, по релевантности (сортировка по умолчанию)
    <br><br>
    Решение оформите в виде проекта на Flask в обвязке Docker контейнера. Запуск решения должен происходить по команде "docker-compose up". В магазине должно быть как минимум 20 котиков для проверки реализации.
    <br><br>
    Визуально проект не должен выглядеть отталкивающе. Мы любим котиков :-)
</div>
{% endblock %}